---
faq:
  - question: Posso me cadastrar como pessoa física?
    answer: Sim, no Padmoney você poderá fazer seu cadastro tanto como Pessoa Física e emitir suas cobranças para seus clientes. É importante lembrar que os dados bancários da conta que receberá os valores, deverá ser da mesma titularidade do cadastro efetuado no sistema.
  - question: Minhas informações estão seguras?
    answer: No Padmoney, todos os dados que passam pelo sistema são criptografados e as informações são armazenados em servidores constantemente atualizados e mantidos nos mais altos níveis de segurança de dados existente no mercado.
  - question: Como vou saber que o Padmoney é mesmo seguro?
    answer: Contamos com um time especializado em segurança para manter as conformidades da norma internacional ISO-27001, International Standardization Organization (ISO) escrita pelos melhores especialistas mundiais no campo de segurança da informação, mantendo o alto padrão a nível de segurança de dados. O Padmoney segue também os requisitos da PCI-DSS (Payment Card Industry – Data Security Standart), que é um padrão internacional que especifica quais são as recomendações obrigatórias de segurança para as empresas que participam da rede de captura depagamento com cartões.
  - question: Como administrar minha chave de segurança e Token da API em segurança?
    answer: Todos os usuários do sistema que possuem acesso às configurações da sua conta Padmoney, têm acesso ao Token de Segurança. Para criar o Token é necessário que você informe uma “chave de segurança” para o mesmo e é importante que saiba que esta chave não é armazenada nos servidores do sistema, portanto ela nunca será exibida. Para manter a segurança no seu Token, recomendamos que você não o compartilhe com pessoas que não estão diretamente ligadas à integração do seu sistema com o Padmoney. Essa informação é válida tanto para o Token quanto para a Chave.
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
